@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@import './reset.css';
@import './theme.css';

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}
