*,
*:before,
*:after,
ul,
li,
a,
button,
input,
img,
image,
svg,
path,
g,
canvas {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  position: relative;
}

button {
  cursor: pointer;
}

button {
  transition: transform 0.15s ease-in-out;
}

button:hover {
  transition: all 0.15s ease-in-out;
}

button:active {
  transform: scale(0.97);
  transition: transform 0.15s ease-in-out;
}
